#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.name {
  color: whitesmoke;
  margin: 0;
  font-family: monospace;
  font-size: 2.8em;
  font-weight: 400;
  text-align: left;
  line-height: 1em;
}

.subname {
  color: #DDD;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: normal;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-top-left {
 margin-right: 1.5em;
 padding-top: 0.6em;
 padding-left: 1em;
}

.avatar {
  border-radius: 100%;
}

.typewriter {
  overflow: hidden;
  border-right: .15em solid #DDD;
  white-space: nowrap;
  margin: 0 auto;
  animation: 
    typing 3s steps(20, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #DDD; }
}


